
.index {
    BORDER-RIGHT: #ccc 1px solid;
    BORDER-TOP: #ccc 1px solid;
    BORDER-LEFT: #ccc 1px solid;
    BORDER-BOTTOM: #ccc 1px solid;
}

INPUT {
    BORDER-RIGHT: #ccc 1px solid;
    BORDER-TOP: #ccc 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #ccc 1px solid;
    COLOR: #666;
    BORDER-BOTTOM: #ccc 1px solid;
    FONT-FAMILY: Tahoma,Verdana,Trebuchet MS,Helvetica,Arial;
}

/*.tab_current {
    background-color: white;
    color: black;
    font-weight: bold;
    border-left: 1 solid #000000;
    border-right: 1 solid #000000;
    border-top: 1 solid #000000;
    border-bottom: 1 solid white;
    background-color: white;
    color: #888;
    font-weight: bold;
    height: 25;
}*/
.tab_current {
    background-color: white;
    color: black;
    font-weight: bold;
    border-left: 1 solid #000000;
    border-right: 1 solid #000000;
    border-top: 1 solid #000000;
    border-bottom: 1 solid white;
    height: 25px;
}

.relatorio-button {
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    FONT-SIZE: 8pt;
    BACKGROUND-POSITION-Y: center;
    LEFT: 120px;
    BORDER-LEFT: 1px outset;
    WIDTH: 110px;
    BORDER-BOTTOM: 1px outset;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #CCCCCC !important
}

.grafico-button {
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    FONT-SIZE: 8pt;
    BACKGROUND-POSITION-Y: center;
    LEFT: 120px;
    BORDER-LEFT: 1px outset;
    WIDTH: 110px;
    BORDER-BOTTOM: 1px outset;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #CCCCCC;
}

.pizza-button {
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    FONT-SIZE: 8pt;
    BACKGROUND-POSITION-Y: center;
    LEFT: 120px;
    BORDER-LEFT: 1px outset;
    WIDTH: 110px;
    BORDER-BOTTOM: 1px outset;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #CCCCCC;
}

.mytable {
    cellspacing: 0;
    cellpadding: 0;
    width: 100%;
    border: 0;
}

.tab {
    background-color: #808000;
    color: #FFFFFF;
    border-left: 1 solid #000000;
    border-right: 1 solid #000000;
    border-top: 1 solid #000000;
    border-bottom: 1 solid #808000;
}
