@using Agence_Practical_Test.Infrastructure;
@using Agence_Practical_Test.Models;
@model List<ConDesemConsultorRel>
    @foreach (var item in Model)
    {
<div>
    @Html.Partial("Con_desem_consultor_rel",item);
</div>
    }
