@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Protótipo para Avaliação de Candidato.</h1>
    <p class="lead">A Avaliação consiste no desenvolvimento da funcionalidade "<a href="@Url.Action("con_desempenho","Home")">Performance Comercial</a>" (Comercial -&gt; Performance Comercial).</p>
</div>

